<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %> 

  <!-- Main Content-->
  <body>
    <div class="services-container">
      <div class="service">
        <i class="service-icon fa fa-code"></i>
        <div class="service-name">General Programming</div>
      </div>
      <div class="service">
        <i class="service-icon fa fa-laptop"></i>
        <div class="service-name">Web Development</div>
      </div>
      <div class="service">
        <i class="service-icon fa fa-mobile"></i>
        <div class="service-name">Mobile Apps</div>
      </div>
    </div>
  </body>



<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
